footer {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .about-udemy {
    display: flex;
    align-items: center;

    i {
      margin: 0 5px;
    }

    img {
      width: 15%;
      margin-right: 20px;
    }
  }

  .policy {
    a {
      color: #117491;
      text-decoration-line: none;
      margin: 0 10px;
    }
  }
}
