html {
  font-family: "Lexend";
}

h1,
h2,
h3,
h4 {
  font-family: "LexendSemiBold";
}

.w-80-ma {
  width: 80%;
  margin: auto;
}

.w-60-ma {
  width: 60%;
  margin: auto;
}

.content {
  font-size: 24px;
  margin-bottom: 50px;

  .content-container {
    margin-top: 15px;
  }
}
